<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test page</title>
    <style>
        .h2-text {
         color: green;
        }
        .form-style {
        display: flex;
        flex-direction: column;
        gap: 5px; width: 200px;
        border: 2px solid #333;
        border-radius: 8px;
        padding: 3px;
        margin-bottom: 5px
        }
    </style>
</head>
<body>
<h1 id="h1-text">H1 text</h1>
<h2 class="h2-text">H2 text</h2>
<h6>H6 text</h6>
<p>Visual dashboard with live screencast previews of all running browser <span style="color: red">sessions</span>. Click
    any session to zoom in and take control.</p>
<div>
    <img alt="playwright-logo.svg" src="https://playwright.dev/img/playwright-logo.svg" style="width: 50px">
    <a href="https://playwright.dev/" target="_blank">Playwright</a>
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>

    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>
</div>
<form action="/action" method="post" class="form-style">
    <input required type="email" placeholder="email" value="test@mail.ru">
    <input required type="text" placeholder="username" minlength="3">
    <input required type="password" placeholder="password" minlength="8">
    <textarea></textarea>
    <button type="submit" disabled>Send</button>
</form>

<table class="form-style">
    <thead>
    <tr>
        <td>Item 1</td>
        <td>Item 2</td>
        <td>Item 3</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Row 1</td>
        <td>Row 2</td>
        <td>Row 3</td>
    </tr>
    <tr>
        <td>Row 1</td>
        <td>Row 2</td>
        <td>Row 3</td>
    </tr>
    <tr>
        <td>Row 1</td>
        <td>Row 2</td>
        <td>Row 3</td>
    </tr>
    </tbody>

</table>
</body>
</html>